@media (max-width: 1070px) {
   main {
      display: flex;
      flex-direction: column;
   }
   .left-side,
   .right-side {
      padding: 30rem 0;
   }

   form,
   .full-book-info {
      width: 100%;
      padding: 10rem;
   }
}
