@media (max-width: 1000px) {
   .landing {
      display: flex;
      flex-direction: column;
      gap: 10rem;
   }

   .left-container {
      width: 100%;
   }

   .left-container p {
      padding-left: 0;
      font-size: 25rem;
      text-align: center;
   }

   .left-container i {
      font-size: 20rem;
   }

   .right-container {
      padding-bottom: 10rem;
   }

   .right-container .registration {
      height: 512rem;
   }

   .right-container .login {
      translate: 0% -13%;
   }

   .registration .login label {
      margin: 10rem;
   }
}
