body {
   width: 100vw;
   height: 100vh;
   background-color: var(--mainBackground);
}

/* Header */
header {
   width: 100%;
   height: 10%;
   display: grid;
   grid-template-columns: 1fr auto;
   align-items: center;
   background-color: var(--secColor);
}

.logo {
   font-weight: 900;
   color: var(--mainFont);
   font-size: 30rem;
   padding: 0 50rem;
}

.logo span {
   color: var(--mainColor);
}

header form {
   justify-self: flex-end;
   padding-right: 10rem;
}

header button {
   padding: 10rem;
   cursor: pointer;
   border-radius: 15rem;
   font-size: 10rem;
   background-color: var(--thirdBackground);
   transition: all 0.25s ease-out;
   color: var(--mainFont);
   width: 55rem;
   justify-self: flex-end;
   font-weight: bold;
}

header button:hover {
   background-color: var(--mainColor);
   color: var(--secColor);
}

/* Main */
main {
   height: 90%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10rem;
   flex-direction: column;
   gap: 30rem;
}

main p {
   color: var(--mainColor);
   font-weight: bold;
   font-size: 30rem;
}

main {
   padding: 40rem;
   border-radius: 10rem;
   box-shadow: 0px 0px 8px 2px rgb(0 0 0 / 16%);
}

main form {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20rem;
}

main form .wrap-input {
   position: relative;
   overflow: hidden;
}

main form .wrap-input::before {
   content: "";
   width: 100%;
   height: 5%;
   position: absolute;
   left: -100%;
   bottom: 0;
   background-color: var(--mainColor);
   transition: left 0.5s;
   z-index: 1;
}

main form .wrap-input:focus-within::before {
   left: 0;
}

main form .wrap-input input {
   background-color: #dfdfdf;
   border: none;
   color: var(--secColor);
   font-size: 14rem;
   font-family: inherit;
   position: relative;
   height: 100%;
   border-radius: 0 10rem 0 0;
   padding: 0 5rem;
}

main form label {
   border-radius: 10rem 0 0 0;
   background-color: var(--thirdColor);
   color: var(--mainFont);
   padding: 10rem 5rem;
}

main form .wrap-input input,
main form label {
   text-align: center;
   width: 100%;
}

main form button {
   grid-column: span 2; /* Make the button span both columns */
   background-color: var(--secColor);
   color: var(--mainFont);
   font-weight: bold;
   font-size: 17rem;
   padding: 10rem 5rem;
   border: none;
   border-radius: 0 0 10rem 10rem;
   cursor: pointer;
   transition: background-color 0.3s ease-in-out;
}

main form button:hover {
   background-color: var(--mainColor);
}
